@import "src/styles";

.menu-container {
  position: fixed;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $dark-green;
  z-index: 1000;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0px 0 30px 0;
  background-color: $dark-green;

  h2 {
    display: flex;
    text-align: center;
    @include font-title();
    margin: 20px 0 10px 20px;
  }

  p {
    font-size: 18px;
    font-style: italic;
    margin: 0;
    @include font-subtitle();
  }
}

.contact-icons {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin: 30px 0 0 40px;;
}
i{
  color: $light-grey;
  margin: 10px;
}
i:hover{
  color: pink;
}

.burger-menu {
  @media (min-width: 1080px) {
    display: none;
  }
  align-items: left;
  position: fixed;
  right: 20px;
  top: 20px;
}

.desktop-menu {
  display: flex;
  position: fixed;
  right: 20px;
  top: 20px;

  @media (max-width: 1080px) {
    display: none;
  }
  @include font-menu();
  a {
    margin: 0px 0 0 10px;
    text-decoration: none;
    @include font-menu();
    transition: color 0.3s ease;
  }
  a:hover {
    color: pink;
  }
}
