<div class="menu-container">
  <div class="title-container">
    <h2>{{ title }}</h2>
    <p>{{ subtitle }}</p>
  </div>
  <div class="contact-icons">
    <a href="https://pl.linkedin.com/in/dawidwmika">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://twitter.com/dawidwmika">
      <i class="fa-brands fa-twitter"></i>
      </a>
  </div>
  <div class="burger-menu">
  </div>
  <div class="desktop-menu">
    <a href="#home" routerLinkActive="active">Home</a>
    <a href="#portfolio" routerLinkActive="active">Portfolio</a>
    <a href="#credits" routerLinkActive="active">Credits</a>
    <a href="#contact" routerLinkActive="active">Contact</a>
  </div>
</div>
