<div id="home" class="about-me-section">
  <div class="video-section">
<youtube-player videoId={{youtubeVideoId}}></youtube-player>
</div>
<div class="about-me-container">
  <p>Hello, I'm Dawid W. Mika. I'm a sound designer with over 10 years of experience in creating interactive audio for video games - from concept, through recording, editing, middleware implementation to game engine system creation and mixing.</p>
  <p>Currently I'm working as Lead Sound Designer at Flying Wild Hog.</p>
</div>
</div>
<div id="portfolio" class="portfolio-section"></div>
<div id="credits" class="credits-section"></div>
<div id="contact" class="contact-section"></div>
