@import "src/styles";

.content-container {
  display: flex;
  position: absolute;
  top: 100px;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  color: $light-grey;
  width: 100%;
}

.inner-content-container {
  width: 360px;

  @media (min-width: 1080px) {
    width: 720px;
  }
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0 0;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 20px;

  @media (min-width: 1080px) {
    //for desktop
    margin: 20px 40px 20px 40px;
  }
}

.about-me-container p {
  @include font-content();
}

.about-me-container img {
  width: 40%;
  height: 350px;
  margin-left: 10px;
}

.about-me-text-container {
  margin: 0 20px 0 20px;
  width: 60%;
}

.content-section {
  margin: 20px 0 20px 0;

  @media (min-width: 1080px) {
    margin: 60px 0 40px 0;
  }
}
h2 {
  @include font-menu();
  text-transform: uppercase;
  text-align: center;
}

.game-tile-container {
  display: inline;
}

.game-tile {
  margin: 10px;
  height: 350px;
  width: 310px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  transition: transform 0.2s linear;
}
.game-tile:hover {
  border-color: pink;
  transform: scale(1.1);
}

.window__container {
  display: flex;
  position: fixed;
  top: 20%;
  left: 40%;
  width: 450px;
  height: 450px;
  z-index: 10000;
  background: $dark-green;
  border: 5px solid pink;
}

span {
  @include font-content();
}
span a {
  @include font-content();
  text-decoration: none;
}
span a:hover {
  color: pink;
}
